@{
    Layout = null;
    string title = "TheBot";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
    <link rel="stylesheet" href="~/css/landing.css" />
</head>
<body>
    <div class="cover-image">
        <img src="~/images/noobot.png" alt="Noobot" />
    </div>
</body>
</html>
